.header {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 2px 4px var(--shadow);
  // margin-bottom: 2rem;
  // border-bottom: 1px solid var(--shadow);
  background-color: var(--background2);
  color: var(--foreground1);
  z-index: 10;
  /* position: fixed; */


  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 0 20px;

    // background-color: var(--background2);

    .frag{
      display: flex;
      align-items: center;


    }

    .searchSection{
      border: 2px solid var(--principal1);
      display: flex;
      // align-items: center;
      justify-content: center;
      // flex-wrap: wrap;

      input{
        padding: 5px 10px;
        width: 500px;
        border: none;


      }

      p{
        // background-color: red;
        height: 40px;
        width: 50px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
          height: 50%;
          width: 50%;
        }
      }
    }
  }

  p{
    margin-right: 10px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    // width: 64px;
    margin: 0 10px;
    // height: 100%;
    transition: 0.1s;
    font-size: 1rem;
    background-color: var(--background2);
    color: var(--foreground1);

    &:hover {
      // filter: brightness(90%);
    }
  }

}



.controlNavCheckbox {
  display: none;
}

.controlNavCheckbox:checked ~ .controlNavClose {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.controlNavCheckbox:checked ~ nav {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  /* background-color: red; */
}

@media screen and (max-width: 720px) {
  .header {
    height: auto;
    position: fixed;
    top: 6px;
    right: 6px;
    border: none;
  }

  .header .controlNav {
    position: absolute;

    right: 20px;
    top: 20px;

    display: block;
    width: 30px;
    padding: 5px 0;

    border: solid #333;
    border-width: 3px 0;

    z-index: 2;
    cursor: pointer;

    backdrop-filter: blur(20px);
  }

  .header .controlNav:before {
    content: "";
    display: block;
    height: 3px;
    background: #333;
  }

  .header .controlNavClose {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;

    display: block;
    z-index: 1;
    background: var(--shadow);
    transition: all 300ms linear;

    transform: translate(100%, 0);
  }

  .header nav {
    flex-direction: column;
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;

    width: 200px;
    border-left: 1px solid var(--background1);
    background-color: var(--background1);
    opacity: 0.94;

    /* backdrop-filter: blur(8px); */

    overflow-x: auto;
    z-index: 2;

    transition: all 500ms ease;
    transform: translate(100%, 0);
  }

  .header a {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid var(--background2);

    width: 100%;
    height: 14%;

    padding: 20px;

    text-align: left;
    font-size: 1rem;
  }

  .header a:last-child {
    border-bottom: none;
  }
}
