.cardOk {
  border-bottom: 8px solid var(--principal2);
}
.cardNotFound {
  border-bottom: 8px solid var(--principal1);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background2);
  // margin: 1rem 0.4rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  // border: 1px solid #eaeaea;
  border-radius: 0;
  width: 290px;
  color: var(--foreground1);
  border-radius: 8px;
  // color: red;
  // box-shadow: 0 0 2px var(--foreground1);
  // padding: 10px;
  // padding-bottom: 0;

  // .rating {
  //   z-index: 200;
  //   position: absolute;
  // }

  .cardImage {
    height: 370px;
    border-radius: 100px;

    padding: 10px;
    padding-bottom: 0;
  }

  .cardInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--background2);
    // margin-top: 10px;

    h2 {
      margin: 0 0 0 0;
      font-size: 1.1rem;
    }

    p {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  .cardInfosDetails {
    height: 100px;
  }

  .cardInfosOnlyName {
    height: 78px;
  }

  .cardFooter {
    display: flex;
    justify-content: space-between;
  }

  transition: 0.2s ease-in-out;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
  }
}
