.SimpleCardSkeleton{
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  background-color: var(--background1);
  // margin: 1rem 0.4rem;

  text-align: left;
  color: inherit;
  text-decoration: none;
  // border: 1px solid #eaeaea;
  border-radius: 0;
  // width: 500px;
  // width: 290px;
  // margin:  10px;
}

