.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin: 1rem 0.4rem;

  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 0;
  width: 300px;
}

.cardok {
  border-bottom: 10px solid #a5e1ad;
}
.cardnotfound {
  border-bottom: 10px solid #e5989b;
}

.card:hover,
.card:focus,
.card:active {
  // color: red;
  /* color: #e5989b; */
  // border-color: red;

  transform: translate(1);
   transform: translateY(-6px);
  transition: 0.2s ease;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
}

.card h2 {
  margin: 0 0 0 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card .Image {
  height: 400px;
  // border-radius: 100px;

  // margin: 1900px;
}

.card .cardInfos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  padding: 10px;
}

.card .cardFooter {
  display: flex;
  justify-content: space-between;
}
