.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  padding: 1.4rem;
  margin-top: 40px;



  // border-top: 1px solid var(--shadow);
  background-color: var(--background2);
  color: var(--foreground1);

  // a {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-grow: 1;
  // }

  .dmca{
    text-decoration: underline;
  }

  .themes {
    select {
      font-size: 1rem;
    }
  }
}
