.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  padding: 1.4rem ;
  border-top: 1px solid var(--background2);
  margin-top: 40px;


  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .themes {
    select {
      font-size: 1rem;
    }
  }
}
