.container {
}

.main {
  // padding: 0 2rem;
  min-height: 100%;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.title {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 5rem;
  // font-weight: bold;
}

.title,
.description {
  text-align: center;
  color: var(--principal1);
  background-color: white;
  // text-shadow: 1px 1px  white;
  // border: 2px black;
  text-decoration: solid 1px black;
  padding: 0 14px;
  // border-radius: 18px;
}

.sectionTop {
  display: flex;
  // max-width: 95vw;
}

.sectionRecommendations {
  margin-top: 100px;
}

.section {
  padding: 3px;
  overflow: hidden;

  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* max-width: 95vw;
  /* margin-top: 1rem;
  margin-bottom: 3rem; */
  /* margin: 0 100px; */
  /* padding: 0 100px ; */

  // background-color: red;

  .subtitle {
    margin-bottom: 0;
    color: var(--foreground1);
    margin-left: 2rem;
  }

  .subtitleLink {
    display: flex;
    flex-direction: row;
    // align-items: flex-end;
    justify-content: baseline;
    font-size: 1.6rem;
    margin-bottom: 0;
    color: var(--foreground1);
    margin-left: 2rem;
    cursor: pointer;
  }

  .subtitleLink::after {
    content: "→";
    margin-left: 5px;
  }

  .subtitleLink:hover:after {
    transition: transform 0.15s ease;
    transform: translateX(8px);
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 95vw;

    a {
      margin: 10px;
    }
  }
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.FourOhFour {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 30vh;
}

.loadMoreButton {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: var(--foreground2);
  color: var(--background1);
}

.headerSearch {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // gap: 20px;
  padding: 2rem;
  width: 100vw;
  height: 540px;

  // background-color: red;
  .headerSearchLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: auto;
    // background-color: var(--background1);
  }

  .headerSearchCenter {
    display: flex;
    justify-content: center;
    align-items: center;

    // margin-bottom: 00px;
  }

  .headerSearchRight {
    display: flex;
    justify-content: flex-end;
    // align-items: center;

    // margin-left: auto;

    input{
      background-color: var(--background1);
    }
  }


}

.bannerImage {
  // width: 100%;
  // height: 3440px;
  // background: url("/images/2226724.jpg");
  // background: url("/images/1646273809211.jpg");

  // box-shadow: inset 0 0 10px 10px var(--background2);
  // border: 4px solid pink;
}

.bannerAnime {
  width: 100vw;
  background: url("/images/001.jpg");
  object-fit: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
}


.bannerManga {
  width: 100vw;
  background: url("/images/003.png");
  object-fit: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  // background-position: center -42rem;
  background-position: bottom;
}




.dmca {
  max-width: 50%;
  text-align: left;
}
