.container {
  /* padding-top: 100px; */
  height: 100vh;
}


.recommendation {
  margin-top: 100px;
  max-width: 95vw;
  /* background-color: red; */
  margin: auto;
  overflow: hidden;
}


.mainContainer{
  display: grid;
  grid-template-columns: 4fr 1fr;
  max-width: 95vw;
  margin: auto;
  margin-top: 100px;
}
.mainContainerFull{
  max-width: 100%;
}

.mainContainerEpisodes{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


.sidebar{
  text-align: left;
  margin: 0;
  margin-left: auto;
  padding: 20px;
  width: 100%;
  // margin-right: 0;
  background-color: var(--background2);
  // border: 1px solid var(--shadow);

  h3{
    color: var(--principal1);
    margin: 0;
    margin-top: 20px;
    font-size: 1.2rem;
  }

  p{
    color: var(--foreground1);
    margin: 0;
    margin-top: 4px;
    font-size: 1rem;
  }

  .videoIframe {
    width: 1000px;
  }
}

.iframeSection{


  .iframeManga{
  }

  .iframeMangaNormal{

    width: 99%;
    height: 900px;
    // margin: 0 20px;

  }


  .iframeMangaFull{
    width: 100vw;
    height: 1920vw;
    // padding: 40px;

  }

  .iframeMangaButton{
    padding: 10px;
    border: none;
    background-color: var(--background2);
    color: var(--foreground1);
  }

  .iframeMangaButtonNormal{
    position:relative;
    opacity: 0.7;
    float: right;
    right: 30px;
    bottom: 55px;
  }

  .iframeMangaButtonFull{
    position: fixed;
    z-index: 100;

    opacity: 0.7;
    // float: right;
    right:10px;
    bottom:10px;
  }

}
