.container {
  padding: 0 2rem;
}

.main {
  min-height: 100%;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  color: #e5989b;
}

.sectionTop {
  display: flex;
  // max-width: 95vw;
}

.section {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* max-width: 95vw;
  overflow: hidden;
  /* margin-top: 1rem;
  margin-bottom: 3rem; */
  /* margin: 0 100px; */
  /* padding: 0 100px ; */

  // background-color: red;




  .subtitle {
    margin-bottom: 0;
    color: black;
    margin-left: 2rem;
  }

  .subtitleLink {
    margin-bottom: 0;
    color: black;
    margin-left: 2rem;
  }

  .subtitleLink::after {
    content: "→";
    position: absolute;
    margin-left: 5px;
    transition: transform 0.15s ease;
  }

  .subtitleLink:hover:after {
    transform: translateX(5px);
  }
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.FourOhFour {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadMoreButton {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #090d21;
  color: white;
}
