.container{

  padding-top: 100px;
  height: 100vh;
}

.imageAndTitleSection{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0 100px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}

.imageAndTitleSection .image{
  border-radius: 2px;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: -20px;
  margin-bottom: -20px;
  height: 420px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


.imageAndTitleSection .titleSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px;
}

.imageAndTitleSection .titleSection .titleAndScoreSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageAndTitleSection .titleSection .titleAndScoreSection .title{
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 3rem;
}

.imageAndTitleSection .titleSection .titleAndScoreSection .score{

  font-size: 2rem;

}




.imageAndTitleSection .titleSection .year{
  margin: 0 3px;
  font-size: 1.2rem;

}

.imageAndTitleSection .titleSection .synopsis{
  margin-top: 20px;

}

.imageAndTitleSection .titleSection .genre{
  margin-left: auto;

}

.imageAndTitleSection .titleSection .genre span{
  margin: 0 10px;

}



.watch iframe{
  width: 1240px;
  height: 1024px;
}
