.userCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background3);

  margin: auto;
  // width: 400px;
  padding: 30px;

  img {
    width: 100px;
    border-radius: 50%;
  }
}

.favoritesList {
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;

  // background-color: red;

  li {
    list-style: none;
    margin: 10px;
    background-color: var(--background2);
    // margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .removeButton {
    background-color: transparent;
    color: red;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    // padding: 10px;

    svg{
      height: 24px;
      width: 24px;
    }

    &:hover svg {
      filter: brightness(10%);
    }
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30vw;
}
