.container {
  /* padding-top: 100px; */
  // height: 80vh;
}

.infoCard {
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: var(--background2);
  color: var(--foreground1);

  box-shadow: 0 0px 8px var(--shadow);
  border-radius: 14px;

  width: 95vw;
  margin: 60px auto 0;

  // border: 2px solid #ebebeb;
  // box-shadow: 0 14px 15px rgba(29,36,52,0.1),0 4px 2px rgba(0,0,0,0.04);
  // border-radius: 15px;




  transition: box-shadow 0.5s ease;
  &:hover{
    box-shadow: 0 4px 30px var(--shadow);
    transition: box-shadow 0.5s ease;
  }


  .infoCardImage {
    margin-top: -10px;
    margin-right: 10px;
    margin-bottom: -10px;
    margin-left: 20px;

    height: 400px;
    width: 390px;
  }

  .infoCardText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-right: auto;
    padding: 10px;
    padding-right: 20px;
    width: 100%;
    height: 100%;

    .infoCardTextHeader {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;


    }

    .title {
      display: flex;
      justify-content: space-between;
      margin: 0;
      font-size: 2.4rem;
      width: 600px;

    }

    .demographics{
      margin: 0;
    }
    .score {
      font-size: 2rem;
    }

    .year {
      margin: 0 3px;
      font-size: 1.2rem;
    }

    .synopsis {
      margin-top: 20px;
    }

    .favoriteButton{

    }

    .genre {
      margin-left: auto;
      // background-color: red;


      span {
        font-size: 0.9rem;
        margin: 0 7px;
        border: 2px solid var(--principal1);
        border-radius: 8px;
        padding: 2px 3px;
      }
    }
  }
}



@media (max-width: 900px) {
  .infoCard {
    flex-direction: column;

    .infoCardImage {
      margin: 0;

      // min-height: 400px;
      // min-width: 100%;
      // margin: auto;
      // background-color: red;

    }
  }
}


.spaceBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
