.container {
  /* padding-top: 100px; */
  height: 100vh;
}

.infoCard {
  display: flex;
  justify-content: center;
  align-items: center;


  background-color: var(--background1);
  margin: 0 100px;
  border-radius: 20px;
  box-shadow: 0 0 15px var(--shadow);
  width: 95vw;
  margin: auto;


  .infoCardImage {
    // height: 100%;
    // display: flex;
    margin-top: -10px;
    margin-right: 10px;
    margin-bottom: -10px;
    margin-left: 20px;

    min-height: 400px;
    min-width: 300px;
    // margin: auto;
    // background-color: red;

  }

  .infoCardText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-right: auto;
    padding: 10px;
    padding-right: 20px;
    width: 100%;
    height: 100%;

    .infoCardTextHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      display: flex;
      justify-content: space-between;
      margin: 0;
      font-size: 2.4rem;
      width: 500px;
    }

    .score {
      font-size: 2rem;
    }

    .year {
      margin: 0 3px;
      font-size: 1.2rem;
    }

    .synopsis {
      margin-top: 20px;
    }

    .genre {
      margin-left: auto;

      span {
        margin: 0 10px;
      }
    }
  }
}



@media (max-width: 900px) {
  .infoCard {
    flex-direction: column;

    .infoCardImage {
      margin: 0;

      // min-height: 400px;
      // min-width: 100%;
      // margin: auto;
      // background-color: red;

    }
  }
}
